@font-face {
  font-family: "iconfont"; /* Project id 5035570 */
  src: url('iconfont.woff2?t=1760168953416') format('woff2'),
       url('iconfont.woff?t=1760168953416') format('woff'),
       url('iconfont.ttf?t=1760168953416') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-test:before {
  content: "\e633";
}

.icon-icon-test1:before {
  content: "\e635";
}

.icon-icon-test2:before {
  content: "\e63c";
}

.icon-icon-test3:before {
  content: "\e649";
}

.icon-icon-test4:before {
  content: "\e64d";
}

.icon-icon-test5:before {
  content: "\e657";
}

.icon-icon-test6:before {
  content: "\e658";
}

.icon-icon-test7:before {
  content: "\e659";
}

.icon-icon-test8:before {
  content: "\e65a";
}

.icon-cart-empty:before {
  content: "\e826";
}

.icon-eye-close:before {
  content: "\e66f";
}

