.wrapper {
  margin: 0 auto;
  width: 1240px;
}

.shortcut {
  height: 52px;
  background-color: #333;
}

.shortcut .wrapper {
  display: flex;
  justify-content: flex-end;
  height: 52px;
}

.shortcut ul {
  display: flex;
  line-height: 52px;
}

.shortcut li a {
  font-size: 14px;
  color: white;
  padding: 0 15px;
  border-right: 1px solid #999;
}

.shortcut li:last-child {
  border-right: 0;
}

.shortcut li .iconfont {
  margin-right: 4px;
  vertical-align: middle;
}

.shortcut li .login {
  color: #5eb69c;
}

.header {
  display: flex;
  margin-top: 22px;
  margin-bottom: 22px;
  height: 88px;
  /* background-color: pink; */
}

.logo {
  height: 88px;
  width: 200px;
  margin-right: 40px;
  /* background-color: skyblue; */
}

.logo a {
  display: block;
  width: 200px;
  height: 88px;
  background-image: url(./imgs/logo.png);
  font-size: 0;
}

.nav {
  margin-top: 33px;
  margin-right: 28px;
}

.nav ul {
  display: flex;
}
.nav li {
  margin-right: 47px;
}
.nav li a {
  padding-bottom: 10px;
  /* background-color: pink; */
}

.nav li a:hover {
  border-bottom: 2px solid #5eb69c;
  color: #5eb69c;
}

.search {
  display: flex;
  height: 34px;
  width: 170px;
  border-bottom: 2px solid #f4f4f4;
  margin-top: 33px;
  margin-right: 45px;
}

.search .iconfont {
  margin-right: 8px;
  font-size: 18px;
  color: #ccc;
}

.search input {
  flex: 1;
  width: 0;
}

.search input::placeholder {
  font-size: 16px;
  color: #ccc;
}

.cart {
  position: relative;
  margin-top: 32px;
}

.cart .iconfont {
  font-size: 24px;
}

.cart i {
  position: absolute;
  top: 1px;
  left: 15px;
  height: 15px;
  background-color: red;
  padding: 0 6px;
  border-radius: 8px;
  font-size: 14px;
  color: #fffefe;
  line-height: 15px;
}

.footer {
  height: 580px;
  background-color: #f5f5f5;
}

.service {
  padding: 60px 0;
  height: 178px;
  border-bottom: 1px solid #e8e8e8;
}

.service ul {
  display: flex;
  justify-content: space-evenly;
}

.service li {
  display: flex;
  width: 190px;
  height: 50px;
}

.service li h5 {
  margin-right: 20px;
  width: 58px;
  height: 58px;
  background-image: url(./imgs/sprite.png);
}

.service li p {
  font-style: 28px;
  line-height: 58px;
}

.service li:nth-child(2) h5 {
  background-position: 0 -58px;
}

.service li:nth-child(3) h5 {
  background-position: 0 -116px;
}

.service li:nth-child(4) h5 {
  background-position: 0 -174px;
}

.help {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  height: 300px;
  /* background-color: pink; */
}

.help .left {
  display: flex;
}

.help .left dl {
  margin-right: 84px;
}

.help .left dl:last-child {
  margin-right: 0;
}

.help .left dt {
  margin-bottom: 30px;
  font-size: 18px;
}

.help .left dd {
  margin-bottom: 10px;
}

.help .left a {
  color: #969696;
}

.help .left .iconfont {
  color: green;
}

.help .right ul {
  display: flex;
}

.help .right li:first-child {
  margin-right: 55px;
}

.help .right .pic {
  margin-bottom: 10px;
  width: 120px;
  height: 120px;
}

.help .right p {
  color: #969696;
  text-align: center;
}

.footer .copyright {
  text-align: center;
}

.copyright p {
  margin-bottom: 10px;
  color: #a1a1a1;
}

.copyright a {
  margin: 0 10px;
  color: #a1a1a1;
}
